<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itsv.itsvdashboard.dao.CleanTaskHistoryMapper" >
    <!-- 记录系数操作记录 -->
    <insert id="setCleanTask" parameterType="com.itsv.itsvdashboard.domain.CleanTaskHistory" >
        INSERT INTO t_clean_task_history (id, clean_type, date, operator, operator_erp)
        VALUES(#{id}, #{cleanType}, #{date}, #{operator}, #{operatorErp})
    </insert>
    <!-- 查询上一次清洗数据时间 -->
    <select id="getLastCleanTime"  resultType="java.util.Date" >
        SELECT date
        FROM t_clean_task_history
        WHERE clean_type != '自定义清洗数据'
        ORDER BY date DESC
        LIMIT 1;
    </select>
</mapper>