<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itsv.itsvdashboard.dao.ItsvWeekTwentyThreeMapper" >
    <!-- 提取所需字段 -->
    <select id="getNeedCol"  resultType="com.itsv.itsvdashboard.dto.CleanDataDto" >
        SELECT  id AS id,
                reception AS reception,
                assigned_person AS assignedPerson,
                assigned_level_3_department AS assignedLevel3Department,
                priority AS priority,
                system_classification_level_2 AS systemClassificationLevel2,
                system_classification_level_3 AS systemClassificationLevel3,
                report_source AS reportSource,
                attitude_score AS attitudeScore,
                timeliness_score AS timelinessScore,
                event_classification_level_2 AS eventClassificationLevel2,
                event_classification_level_3 AS eventClassificationLevel3,
                DATE_FORMAT(submission_date, '%Y-%m-%d') AS submissionDate,
                SUBSTRING(submission_time,12,2) AS submissionHours,
                submission_time AS submissionTime,
                resolution_time AS resolutionTime
        FROM t_itsv_23
    </select>

    <!-- 获取当前时间至上一次洗数的数据 -->
    <select id="getNeedColToLastTime"  resultType="com.itsv.itsvdashboard.dto.CleanDataDto"  parameterType="java.util.Date">
        SELECT  id AS id,
                reception AS reception,
                assigned_person AS assignedPerson,
                assigned_level_3_department AS assignedLevel3Department,
                priority AS priority,
                system_classification_level_2 AS systemClassificationLevel2,
                system_classification_level_3 AS systemClassificationLevel3,
                report_source AS reportSource,
                attitude_score AS attitudeScore,
                timeliness_score AS timelinessScore,
                event_classification_level_2 AS eventClassificationLevel2,
                event_classification_level_3 AS eventClassificationLevel3,
                DATE_FORMAT(submission_date, '%Y-%m-%d') AS submissionDate,
                SUBSTRING(submission_time,12,2) AS submissionHours,
                submission_time AS submissionTime,
                resolution_time AS resolutionTime
        FROM t_itsv_23
        WHERE submission_time BETWEEN #{stateTime} and #{endTime}
    </select>

    <!-- 获取自定义时间的数据 -->
    <select id="getNeedColSetupTime"  resultType="com.itsv.itsvdashboard.dto.CleanDataDto"  parameterType="java.util.Date">
        SELECT  id AS id,
                reception AS reception,
                assigned_person AS assignedPerson,
                assigned_level_3_department AS assignedLevel3Department,
                priority AS priority,
                system_classification_level_2 AS systemClassificationLevel2,
                system_classification_level_3 AS systemClassificationLevel3,
                report_source AS reportSource,
                attitude_score AS attitudeScore,
                timeliness_score AS timelinessScore,
                event_classification_level_2 AS eventClassificationLevel2,
                event_classification_level_3 AS eventClassificationLevel3,
                DATE_FORMAT(submission_date, '%Y-%m-%d') AS submissionDate,
                SUBSTRING(submission_time,12,2) AS submissionHours,
                submission_time AS submissionTime,
                resolution_time AS resolutionTime
        FROM t_itsv_23
        WHERE submission_time BETWEEN #{stateTime} and #{endTime}
    </select>

</mapper>