<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itsv.itsvdashboard.dao.SystemProductNullMapper" >
    <!-- 查询所有 -->
    <select id="getAll"  resultType="com.itsv.itsvdashboard.domain.SystemProductNull" >
        SELECT id AS id,
            system_classification_level_2 AS systemClassificationLevel2,
            system_classification_level_3 AS systemClassificationLevel3
        FROM t_system_product_null;
    </select>
    <!-- 新增数据(防重) -->
    <insert id="setNewData"  parameterType="java.lang.String" >
        INSERT INTO t_system_product_null(
            id,
            system_classification_level_2,
            system_classification_level_3
        )
        VALUES (
            #{id},
            #{systemClassificationLevel2},
            #{systemClassificationLevel3}
        )
        ON DUPLICATE KEY UPDATE
            id=values(id),
            system_classification_level_2=values(system_classification_level_2),
            system_classification_level_3=values(system_classification_level_3)
    </insert>
    <!-- 删除数据 -->
    <delete id="deleteData"  parameterType="java.lang.String" >
        DELETE FROM
            t_system_product_null
        WHERE
            id = #{id}
    </delete>
</mapper>